@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

pre code.hljs {
	padding: 0;
	font-size: 1rem /* 16px */;
	line-height: 1.5rem /* 24px */;
	font-weight: 500;
	font-family: Poppins;
	outline: 0px;
	margin: 0px;
	border: 0px;
	background: none;
	white-space: pre-wrap;
	word-break: keep-all;
	overflow-wrap: break-word;
}

textarea {
	border: 0px;
	background: none;
	white-space: pre-wrap;
	word-break: keep-all;
	overflow-wrap: break-word;
	outline: 0px;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
